---
layout: page
title: Magento 2 Theming Training
title-submenu: Training services
subtitle: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-theming
permalink: magento-2-theming
img: magento-2-theming
thumbnail: magento-2-theming
alt: image-alt
description-top: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
description-middle: description-middle
content-title: content-title
description-bottom: description-bottom
related-title: Related training
---
{% include training_product.html %}
{% include team.html %}
