---
layout: page
title: Magento 2 Performance Training
title-submenu: Training services
meta: This is the Performance meta description
subtitle: In the Magento 2 Performance Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-performance
permalink: magento-2-performance
img: magento-2-performance
thumbnail: magento-2-performance
alt: image-alt
description-top: In the Magento 2 Performance Training you learn the basis fundamentals how to manage your Magento 2 website.
description-middle: description-middle
content-title: content-title
description-bottom: description-bottom
related-title: Related training
summary:
  - title: Performance 1
  - title: Performance 2
  - title: Performance 3
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Developer
---
{% include training_product.html %}
{% include team.html %}
