---
layout: page
title: Magento 2 Theming Training
title-submenu: Training services
meta: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-theming
permalink: magento-2-theming
img: magento-2-theming
thumbnail: magento-2-theming
alt: image-alt
description-top: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
description-middle: description-middle
content-title: Who will benefit from this Magento 2 Training?
description-bottom: description-bottom
related-title: Related training
summary:
  - title: Theming 1
  - title: Theming 2
  - title: Theming 3
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Developer
---
{% include training_product.html %}
{% include team.html %}
