---
layout: page
title: Magento 2 Security Training
title-submenu: Training services
meta: This is the Security meta description
subtitle: In the Magento 2 Security Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-security
permalink: magento-2-security
img: magento-2-security
thumbnail: magento-2-security
alt: image-alt
description-top: In the Magento 2 Security Training you learn the basis fundamentals how to manage your Magento 2 website.
description-middle: description-middle
content-title: content-title
description-bottom: description-bottom
related-title: Related training
summary:
  - title: Security 1
  - title: Security 2
  - title: Security 3
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Developer
---
{% include training_product.html %}
{% include team.html %}
