---
layout: page
price: 1250
hours: 16
title: Magento 2 Performance Training
title-submenu: Training services
meta: In the Magento 2 Performance Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Performance Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-performance
permalink: magento-2-performance
img: magento-2-performance
thumbnail: magento-2-performance
alt: image-alt
description-top: IIn the Magento 2 Performance training you will learn how to optimize the performance of your Magento 2 website. Performance is crucial for your SEO ranking and customer journey leading to conversion.
description-middle: All Magento 2 Performance training take-aways are a brief overview of our broad selection.
content-title: Who will benefit from this Magento 2 Training?
description-bottom: This training is for webmasters and system engineers. You will learn about system configurations and server settings for a fast Magento 2 website.
related-title: Related training
summary:
- title: SSL Offloading
- title: Varnish
- title: CloudFlare/Fastly
- title: Loadtesting
- title: Generate data performance fixtures
- title: Mobile vs. Desktop performance
- title: Blackfire.io
- title: New Relic
- title: Travis CI
- title: HTTP/2
- title: Apache/NGINX tuning
- title: MySQL tuning
- title: DTAP setup
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Developer
---
{% include training_product.html %}
{% include team.html %}
