---
layout: page
price: 595
hours: 8
title: Magento 2 Merchant Training
title-submenu: Training services
meta: In the Magento 2 Merchant Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Merchant Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-merchant
permalink: magento-2-merchant
img: magento-2-merchant
thumbnail: magento-2-merchant
alt: image-alt
description-top: Our Magento 2 Merchant training will guide you on how to manage your Magento 2 shop. It will explain how to manage your products, categories, attributes, CMS pages , marketing and much more. Magento 2 has lots of great new functionalities for managing your shop.
description-middle: All Magento 2 Merchant training take-aways are a brief overview of our broad selection.
content-title: Who will benefit from this Magento 2 Training?
description-bottom: As a day to day user of Magento you will learn the fundamentals of Magento 2. This training is beneficial for basic users of the system. You will learn about managing your new Magento 2 shop. It doesn’t matter if you are already experienced with Magento 1 or a completely new Magento user. The training will give new information for both type of users. We will guide you thru the fundamentals on how to manage your shop on a daily basis.
related-title: Related training
summary:
  - title: Fundamentals on Magento 2 Backend
  - title: Products and Catalog management
  - title: Product type management
  - title: Attribute (sets)
  - title: Customer management
  - title: Order/Sale flow management
  - title: CMS/Static Widget management
  - title: Basis SEO management
  - title: Marketing price and promotion rules
  - title: Transactional email management
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Theming
---
{% include training_product.html %}
{% include team.html %}
