---
layout: page
title: Magento 2 Theming Training
title-submenu: Training services
meta: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-theming
permalink: magento-2-theming
img: magento-2-theming
thumbnail: magento-2-theming
alt: image-alt
description-top: In the Magento 2 Theming Training you learn the basis fundamentals how to manage your Magento 2 website.
description-middle: All Magento 2 Theming training take-aways are a brief overview of our broad selection.
content-title: Who will benefit from this Magento 2 Training?
description-bottom: description-bottom
related-title: Related training
summary:
  - title: Layout XML
  - title: Gulp.js vs. Grunt.js
  - title: Travis CI
  - title: NodeJS
  - title: Parent/Child setup
  - title: Defering JS
  - title: Sass vs. LESS
  - title: RequireJS
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Developer
---
{% include training_product.html %}
{% include team.html %}
