---
layout: page
title: Magento 2 Developer Training
title-submenu: Training services
subtitle: In the Magento 2 Developer Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-developer
permalink: magento-2-developer
img: magento-2-developer
thumbnail: magento-2-developer
alt: image-alt
description: Lorem ipsum dolor sit amet, usu cu alterum nominavi lobortis. At duo novum diceret. Tantas apeirian vix et, usu sanctus postulant inciderint ut, populo diceret necessitatibus in vim. Cu eum dicam feugiat noluisse.
---
{% include training_product.html | where: "id","1" %}
{% include team.html %}
