---
layout: page
price: 1250
hours: 16
title: Magento 2 Webmaster Training
title-submenu: Training services
meta: In the Magento 2 Webmaster Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Webmaster Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-webmaster
permalink: magento-2-webmaster
img: magento-2-webmaster
thumbnail: magento-2-webmaster
alt: image-alt
description-top: In the Magento 2 Webmaster Training you will learn the fundamentals on how to setup a Magento 2 website. You will learn about the setup and preparation of Magento 2 before the merchant can start to enter the categories and products. The training will mention the system configurations and server settings for Magento 2.
description-middle: All Magento 2 Webmaster training take-aways are a brief overview of our broad selection.
content-title: Who will benefit from this Magento 2 Training?
description-bottom: Are you a system engineer or webmaster who will need to setup a new Magento 2 shop or needs to perform an upgrade from Magento 1, this is your training. You will learn about system configurations and server settings for Magento 2.
related-title: Related training
summary:
  - title: Hosting setup (Apache/NGINX)
  - title: SSL Offloading
  - title: Varnish
  - title: CloudFlare/Fastly
  - title: Multi website/store/storeview setup
  - title: System config setup
  - title: Root Catalog
  - title: Managing Magento 2 in Docker
  - title: PHP7 (FPM) vs. HHVM
  - title: Managing MySQL
  - title: Installing Magento 2 on Hypernode
  - title: Managing Magento 2 system tools
  - title: Travis.io
  - title: DTAP setup
related:
  - title: Magento 2 Theming
  - title: Magento 2 Developer
  - title: Magento 2 Performance
  - title: Magento 2 Security
---
{% include training_product.html %}
{% include team.html %}
