---
layout: page
title: Magento 2 Merchant Training
title-submenu: Training services
meta: In the Magento 2 Merchant Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Merchant Training you learn the basis fundamentals how to manage your Magento 2 website.
link: magento-2-merchant
permalink: magento-2-merchant
img: magento-2-merchant
thumbnail: magento-2-merchant
alt: image-alt
description-top: Our Magento 2 Merchant training will guide your how to manage your Magento 2 shop on a daily basis, products, categories, attributes, cms pages and marketing and much more. Magento 2 had lost of great new functionalities for managing your shop.
description-middle: All Magento 2 Merchant training take-aways are a brief overview of our broad selection.
content-title: Who will benefit from this Magento 2 Training?
description-bottom: description-bottom
related-title: Related training
summary:
  - title: Fundamentals on Magento 2 Backend
  - title: Products and Catalog management
  - title: Product type management
  - title: Attribute (sets)
  - title: Customer management
  - title: Order/Sale flow management
  - title: CMS/Static Widget management
  - title: Basis SEO management
  - title: Marketing price and promotion rules
  - title: Transactional email management
related:
  - title: Magento 2 Webmaster
  - title: Magento 2 Theming
---
{% include training_product.html %}
{% include team.html %}
