<section id="about" class="blade blade--about">
  <div class="container">

    <div>
      <h1>About Us</h1>
    </div>

    <amp-carousel class="desktop-up" height="500" layout="flex-item" type="slides">
      <div class="boxes">
        {% for member in site.data.about limit:2 %}
        <div class="box">
          <div class="box__inner">
            <div class="box__content">
              {{ member.description }}
            </div>
            <div class="box__footer">
              <div class="box__image">
                <amp-img src="img/about/{{ member.pic }}.jpg"
                    height="{{ member.height }}"
                    width="{{ member.width }}"
                    noloading
                    alt="{{ member.name }}">
                </amp-img>
              </div>
              <div class="box__credit">
                <h5 class="box__title">{{ member.name }}</h5>
                <div class="box__subtitle">{{ member.subtitle }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </amp-carousel>

  </div>
</section>
