<section id="about" class="blade blade--about">
  <div class="container">

    <div>
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>

    <amp-carousel class="desktop-up"
      height="500"
      layout="flex-item"
      type="slides">

      <div class="boxes">
        <div class="box">

          <div class="box__inner">

            <div class="box__content">
              “This is a project of real ambition. It seeks simultaneously to create a great user experience, to give more autonomy to publishers to deliver that and to develop effective advertising for the mobile web. Achieving these in tandem will be vital to building a more sustainable ecosystem where great journalism can flourish. We are keen to see it succeed.”
            </div>

            <div class="box__footer">
              <div class="box__image">
                <amp-img src="/static/img/quotes/guardian.jpg"
                    width="90"
                    height="90"
                    noloading
                    alt="Tony Danker">
                </amp-img>
              </div>
              <div class="box__credit">
                <h5 class="box__title">Tony Danker</h5>
                <div class="box__subtitle">Chief Strategy Officer, Guardian News &amp; Media</div>
              </div>
            </div>

          </div>

        </div>
        <div class="box">

          <div class="box__inner">

            <div class="box__content">
              “Speed has always been a cornerstone of Google Search and we're thrilled to be working alongside others in the tech industry and publishers around the world to bring the Accelerated Mobile Pages Project to life. An open content ecosystem will give publishers maximum reach and allow users to get the best content no matter which app they are using. AMP HTML will make it all blazing fast, so we can't wait to use it!”
            </div>

            <div class="box__footer">
              <div class="box__image">
                <amp-img src="/static/img/quotes/google.jpg"
                    width="90"
                    height="90"
                    noloading
                    alt="David Besbris">
                </amp-img>
              </div>
              <div class="box__credit">
                <h5 class="box__title">David Besbris</h5>
                <div class="box__subtitle">VP Engineering, Google Search</div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </amp-carousel>

    <amp-carousel class="single mobile-down"
      width="400"
      height="550"
      type="slides"
      layout="flex-item">
      <div class="box">

        <div class="box__inner">

          <div class="box__content">
            “The guiding principles of the AMP Project apply to the mobile web in general. So why restrict it to just publisher-based content?  Speed plays a critical role in eCommerce. Faster pages lead to delighted users, and higher conversion, so when the AMP Project was announced it resonated a lot with our own thinking and approach to smart open source projects.”
          </div>

          <div class="box__footer">
            <div class="box__image">
              <amp-img src="/static/img/quotes/ebay.jpg"
                  width="90"
                  height="90"
                  noloading
                  alt="Mohan Patt">
              </amp-img>
            </div>
            <div class="box__credit">
              <h5 class="box__title">Mohan Patt</h5>
              <div class="box__subtitle">VP of Product, eBay Shopping Experience</div>
            </div>
          </div>

        </div>

      </div>
    </amp-carousel>

  </div>
</section>
