<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img-amp src="img/logos/envato.jpg" layout="responsive" class="img-responsive img-centered" alt=""></amp-img>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img-amp src="img/logos/designmodo.jpg" layout="responsive" class="img-responsive img-centered" alt=""></amp-img>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img-amp src="img/logos/themeforest.jpg" layout="responsive" class="img-responsive img-centered" alt=""></amp-img>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img-amp src="img/logos/creative-market.jpg" layout="responsive" class="img-responsive img-centered" alt=""></amp-img>
                    </a>
                </div>
            </div>
        </div>
    </aside>
