<section id="contact" class="blade blade--contact">
    <div class="container">

      <div>
        <h1>About Us</h1>
      </div>

      <div class="row">
        <div class="twelve columns">
            <form method="post" action="https://www.rapido.nu/subscribe.php" target="_top">
              <div class="row">
                <div class="six columns">
                  <input type="text" name="name" class="data-input" placeholder="Name..." required>
                  <input type="email" name="email" class="data-input" placeholder="Email..." required>
                  <input type="phone" name="phone" class="data-input" placeholder="Phone..." required>
                </div>
                <div class="six columns">
                  <input type="message" name="message" class="data-input" placeholder="Message..." required>
                </div>
                <div class="twelve columns">
                  <input type="submit" value="Send Message" class="button button-primary">
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>

    </div>
</section>
