    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>{{site.title}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a href="#training">Training</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </amp-sidebar>
    <!-- Header -->
    <header class="header fixed">
      <div class="wrap">
        <div class="container">
          <div class="nav-container">
             <div class="left-nav">
               <a class="navbar-brand page-scroll" href="/">
                 <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>{{site.title}}</a>
            </div>
            <div class="right alt">
              <a class="tab desktop" href="/docs/support/faqs.html">FAQ</a>
              <a class="tab desktop" href="/who/">Who</a>
              <a class="tab desktop" target="_blank" href="https://amphtml.wordpress.com/">Blog</a>
              <a class="tab desktop" target="_blank" href="https://github.com/ampproject/amphtml">GitHub</a>
              <a class="tab desktop" href="/roadmap/">Roadmap</a>
              <a class="tab desktop" href="/docs/get_started/about-amp.html">Docs</a>
              <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><h1>Magento 2 Training</h1></div>
                <div class="intro-heading"><h2>Learn, Create, Innovate</h2></div>
                <a href="#training" class="page-scroll btn btn-xl">Tell me more</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
