    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    <nav>
        <ul>
          <li>
            <ul>
              <li class="is-active"><a href="/">Home</a></li>
              <li class=""><a href="#training">Training</a></li>
              <li class=""><a href="#portfolio">Portfolio</a></li>
              <li class=""><a href="#about">About</a></li>
              <li class=""><a href="#team">Team</a></li>
              <li class=""><a href="#contact">Contact</a></li>
          </ul>
          </li>
        </ul>
      </nav>
    </amp-sidebar>

    <header class="header fixed">
      <div class="wrap">
        <div class="container">
          <div class="nav-container">
              <div class="left-nav">
                <a href="{{ site.url }}" class="tab header-title">
                  <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
                  <span>{{ site.title }}</span>
                </a>
              </div>
              <div class="right alt">
                <a class="tab desktop" href="#training">Training</a>
                <a class="tab desktop" href="#portfolio">Portfolio</a>
                <a class="tab desktop" href="#about">About</a>
                <a class="tab desktop" href="#team">Team</a>
                <a class="tab desktop" href="#contact">Contact</a>
              <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </header>
