    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    <nav>
      <div class="language desktop">
        <amp-accordion>
          <section>
            <h6 class="current">
              <a class="flag-en"><span>English</span></a>
            </h6>
            <div class="others">
            </div>
          </section>
        </amp-accordion>
      </div>
        <ul>
          <li>
            <ul>
              <li class="is-active"><a href="{{ site.url }}">Home</a></li>
              <li class=""><a href="{{ site.url }}#training">Training</a></li>
              <li class=""><a href="{{ site.url }}#portfolio">Portfolio</a></li>
              <li class=""><a href="{{ site.url }}#about">About</a></li>
              <li class=""><a href="{{ site.url }}#team">Team</a></li>
              <li class=""><a href="{{ site.url }}#contact">Contact</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <nav>
        <ul>
          <li>
            <h2>Magento 2</h2>
              <ul>
                <li><a href="{{ site.url }}magento-2-merchant">Merchant</a></li>
                <li><a href="{{ site.url }}magento-2-webmaster">Webmaster</a></li>                <ul><li><a href="{{ site.url }}magento-2-developer">Developer</a></li>
                <li><a href="{{ site.url }}magento-2-theming">Theming</a></li>
                <li><a href="{{ site.url }}magento-2-security">Security</a></li>
                <li><a href="{{ site.url }}magento-2-performance">Performance</a></li>
              </ul>
          </li>
        </ul>
      </nav>
    </amp-sidebar>

    <header class="header fixed">
      <div class="container">
        <div class="nav-container">
          <div class="left-nav">
                <a href="{{ site.url }}" class="tab header-title">
                  <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
                  <span>{{ site.title }}</span>
                </a>
              </div>
              <div class="right alt">
                <div class="tab">
                  <a href="{{ site.url }}#training">Training</a>
                </div>
                <div class="tab">
                  <a href="{{ site.url }}#portfolio">Portfolio</a>
                  <ul><li><a href="{{ site.url }}magento-2-merchant">Merchant</a></li></ul>
                  <ul><li><a href="{{ site.url }}magento-2-webmaster">Webmaster</a></li></ul>
                  <ul><li><a href="{{ site.url }}magento-2-developer">Developer</a></li></ul>
                  <ul><li><a href="{{ site.url }}magento-2-theming">Theming</a></li></ul>
                  <ul><li><a href="{{ site.url }}magento-2-security">Security</a></li></ul>
                  <ul><li><a href="{{ site.url }}magento-2-performance">Performance</a></li></ul>
                </div>
                <div class="tab">
                  <a href="{{ site.url }}#about">About</a>
                </div>
                <div class="tab">
                  <a href="{{ site.url }}#team">Team</a>
                </div>
                <div class="tab">
                  <a href="{{ site.url }}#contact">Contact</a>
                </div>
              <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
    </header>
