<section id="portfolio" class="blade blade--blog">
  <div class="container">
    <div>
        <h1 class="blog__section-title">Magento 2 Training Portfolio</h1>
    </div>

    <div class="tablet-up">
      <div class="card-container">
      {% for post in site.posts %}
        <div class="card">
          <div class="card__image">
            <amp-img
              noloading
              height=289
              width=400
              alt="{{ post.title }}"
              layout=responsive
              src="img/training/{{ post.thumbnail }}.jpg">
            </amp-img>
          </div>
          <div class="card__content">
            <h4 class="card__title">{{ post.title }}</h4>
            <p>{{ post.subtitle }}</p>
          </div>
          <div class="card__action">
            <a title="{{ member.name }}" href="{{ post.link }}">Learn More</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <amp-carousel class="tablet-down"
      width="auto"
      height="640"
      type="slides"
      layout="fixed-height">
      {% for post in site.posts %}
      <div class="card">
        <div class="card__image">
          <amp-img
              noloading
              height=289
              width=400
              layout="responsive"
              src="img/training/{{ post.thumbnail }}.jpg">
          </amp-img>
        </div>
        <div class="card__content">
          <h4 class="card__title">{{ post.title }}</h4>
          <p>{{ post.subtitle }}</p>
        </div>
        <div class="card__action">
          <a href="{{ post.title }}">Learn More</a>
        </div>
      </div>
      {% endfor %}
    </amp-carousel>

  </div>
</section>
