<section class="blade blade--blog">
  <div class="container">
    <div>
        <h1 class="blog__section-title">Magento 2 Training Portfolio</h1>
        <h2 class="blog__subsection-text">Lorem ipsum dolor sit amet consectetur.</h2>
    </div>

    <div class="blog">
      {% for post in site.posts %}
      <div class="blog__tabs">
            <amp-img src="img/portfolio/{{ post.thumbnail }}" height="289" width="400" layout="responsive" class="img-responsive img-centered" alt=""></amp-img>
            <h3 class="blog__title">{{ post.title }}</h3>
            <div class="blog__subtitle">{{ post.subtitle }}</div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
