<section id="portfolio" class="blade blade--blog">
  <div class="container">
    <div>
        <h1 class="blog__section-title">Magento 2 Training Portfolio</h1>
    </div>

    <div class="tablet-up">
      <div class="card-container">
        {% for member in site.data.training %}
        <div class="card">
          <div class="card__image">
            <a title="{{ member.name }}" href="{{ member.url }}">
            <amp-img
                noloading
                height="{{ member.height }}"
                width="{{ member.width }}"
                alt="{{ member.name }}"
                layout="responsive"
                src="img/training/{{ member.pic }}.jpg">
            </amp-img></a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a title="{{ member.name }}" href="{{ member.url }}">{{ member.name }}</a></h3>
            <p>{{ member.description }}</p>
          </div>
          <div class="card__action">
            <a title="{{ member.name }}" href="{{ member.url }}">Learn More</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <amp-carousel class="tablet-down"
      width="auto"
      height="640"
      type="slides"
      layout="fixed-height">
      {% for member in site.data.training %}
      <div class="card">
        <div class="card__image">
          <amp-img
              noloading
              height="{{ member.height }}"
              width="{{ member.width }}"
              alt="{{ member.name }}"
              layout="responsive"
              src="img/training/{{ member.pic }}.jpg">
          </amp-img>
        </div>
        <div class="card__content">
          <h3 class="card__title">{{ member.name }}</h3>
          <p>{{ member.description }}</p>
        </div>
        <div class="card__action">
          <a title="{{ member.name }}" href="{{ member.url }}">Learn More</a>
        </div>
      </div>
    {% endfor %}
    </amp-carousel>

  </div>
</section>
