<section id="signup" class="blade blade--contact">
    <div class="container">

      <div>
        <h1>Sign Up</h1>
      </div>

      <div class="row">
        <div class="twelve columns">
            <form method="post" action-xhr="https://mail.mage-academy.training" target="_blank" on="submit-success:success-lightbox;submit-error:error-lightbox">
              <div class="row">
                <div class="six columns">
                  <div class="control-group form-group">
                    <input type="text" name="name" class="validate[required,custom[onlyLetter],length[0,100]] data-input" placeholder="Please enter your name." required>
                  </div>
                  <div class="control-group form-group">
                    <input type="email" name="email" class="validate[required,custom[email]] data-input" placeholder="Please enter your email address." required>
                  </div>
                  <div class="control-group form-group">
                    <input type="phone" name="phone" class="validate[required,custom[phone]] data-input" placeholder="Please enter your phone number." required>
                  </div>
                </div>
                <div class="six columns">
                  <div class="control-group form-group">
                    <textarea name="message" class="validate[required,length[6,300]] data-input" placeholder="Please enter a message." required></textarea>
                  </div>
                </div>
                <div class="twelve columns">
                  <div class="control-group form-group">
                    <input type="hidden" name="training" value="{{ page.title}}">
                  </div>
                </div>
                <div class="twelve columns">
                  <div class="submit">
                    <input type="submit" value="Sign Up" id="button-submit">
                    <input type="reset" value="Reset" id="button-reset">
                  </div>
                </div>
              </div>
              <div submit-success>
                <template type="amp-mustache">Success! Thanks {{name}} for applying, we will get back to you shortly!</template>
              </div>
              <div submit-error>
                <template type="amp-mustache">Something when wrong {{name}}, sorry! Please submit again!</template>
              </div>
            </form>
        </div>
      </div>
    </div>
</section>

<amp-lightbox id="success-lightbox" class="lightbox" layout="nodisplay">
    <div class="lightbox-content">
        <h1>Thanks for the submission! Here's a cupcake!</h1>
        <amp-img id="img0" src="https://lh3.googleusercontent.com/5rcQ32ml8E5ONp9f9-Rf78IofLb9QjS5_0mqsY1zEFc=w400-h600-no-n" width=400 height=600 layout="fixed" on="tap:success-lightbox.close" role="img" tabindex="1"></amp-img>
    </div>
</amp-lightbox>

<amp-lightbox id="error-lightbox" class="lightbox" layout="nodisplay">
    <div class="lightbox-content">
        <h1>Oops! Kittens!</h1>
        <amp-anim
                src="https://lh3.googleusercontent.com/qNn8GDz8Jfd-s9lt3Nc4lJeLjVyEaqGJTk1vuCUWazCmAeOBVjSWDD0SMTU7x0zhVe5UzOTKR0n-kN4SXx7yElvpKYvCMaRyS_g-jydhJ_cEVYmYPiZ_j1Y9de43mlKxU6s06uK1NAlpbSkL_046amEKOdgIACICkuWfOBwlw2hUDfjPOWskeyMrcTu8XOEerCLuVqXugG31QC345hz3lUyOlkdT9fMYVUynSERGNzHba7bXMOxKRe3izS5DIWUgJs3oeKYqA-V8iqgCvneD1jj0Ff68V_ajm4BDchQubBJU0ytXVkoWh27ngeEHubpnApOS6fcGsjPxeuMjnzAUtoTsiXz2FZi1mMrxrblJ-kZoAq1DJ95cnoqoa2CYq3BTgq2E8BRe2paNxLJ5GXBCTpNdXMpVJc6eD7ceijQyn-2qanilX-iK3ChbOq0uBHMvsdoC_LsFOu5KzbbNH71vM3DPkvDGmHJmF67Vj8sQ6uBrLnzpYlCyN4-Y9frR8zugDcqX5Q=w400-h300-no"
                width="400" height="300" on="tap:error-lightbox.close"
                tabindex="2" role="img">
            <amp-img placeholder
                     src="https://lh3.googleusercontent.com/qNn8GDz8Jfd-s9lt3Nc4lJeLjVyEaqGJTk1vuCUWazCmAeOBVjSWDD0SMTU7x0zhVe5UzOTKR0n-kN4SXx7yElvpKYvCMaRyS_g-jydhJ_cEVYmYPiZ_j1Y9de43mlKxU6s06uK1NAlpbSkL_046amEKOdgIACICkuWfOBwlw2hUDfjPOWskeyMrcTu8XOEerCLuVqXugG31QC345hz3lUyOlkdT9fMYVUynSERGNzHba7bXMOxKRe3izS5DIWUgJs3oeKYqA-V8iqgCvneD1jj0Ff68V_ajm4BDchQubBJU0ytXVkoWh27ngeEHubpnApOS6fcGsjPxeuMjnzAUtoTsiXz2FZi1mMrxrblJ-kZoAq1DJ95cnoqoa2CYq3BTgq2E8BRe2paNxLJ5GXBCTpNdXMpVJc6eD7ceijQyn-2qanilX-iK3ChbOq0uBHMvsdoC_LsFOu5KzbbNH71vM3DPkvDGmHJmF67Vj8sQ6uBrLnzpYlCyN4-Y9frR8zugDcqX5Q=w400-h300-no-k"
                     width="400" height="300"></amp-img>
        </amp-anim>
    </div>
</amp-lightbox>
