<section id="team" class="blade blade--blog">

  <div class="container">
    <div>
        <h1 class="blog__section-title">Our Amazing Team</h1>
    </div>

    <div class="tablet-up">
      <div class="card-container">
      {% for member in site.people %}
      <div class="card">
        <div class="card__image">
          <div class="box__image">
            <amp-img
            noloading
            height="{{ member.height }}"
            width="{{ member.width }}"
            alt="{{ member.name }} - {{ member.position }}"
            layout="responsive"
            src="img/team/{{ member.pic }}.jpg">
            </amp-img>
          </div>
          <div class="card__content">
            <h3 class="card__title">{{ member.name }}</h3>
            <p>{{ member.position }}</p>
          </div>
          <div class="card__action">
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li>
                    <a target="_blank" alt="{{ member.name }}" href="{{ network.url }}">
                        <i class="fa fa-{{ network.title }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>

    <amp-carousel class="tablet-down"
      width="auto"
      height="640"
      type="slides"
      layout="fixed-height">
      {% for member in site.people %}
      <div class="card">
        <div class="card__image">
          <div class="box__image">
            <amp-img
              noloading
              height="{{ member.height }}"
              width="{{ member.width }}"
              alt="{{ member.name }}"
              layout="responsive"
              src="img/team/{{ member.pic }}.jpg">
            </amp-img>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">{{ member.name }}</h3>
          <p>{{ member.position }}</p>
        </div>
        <div class="card__action">
          <ul class="list-inline social-buttons">
              {% for network in member.social %}
              <li>
                  <a href="{{ network.url }}">
                      <i class="fa fa-{{ network.title }}"></i>
                  </a>
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </amp-carousel>

  </div>
</section>
