<section id="team" class="blade blade--blog">

  <div class="container">
    <div>
        <h1 class="blog__section-title">Our Amazing Team</h1>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>

    <div class="blog">
      {% for member in site.people %}
      <div class="blog__tabs">
            <amp-img src="img/team/{{ member.pic }}.jpg" height="{{ member.height }}" width="{{ member.width }}" layout="responsive" class="img-responsive img-circle" alt=""></amp-img>
            <h3 class="blog__title">{{ member.name }}</h3>
            <div class="blog__subtitle">{{ member.position }}</div>
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li>
                    <a href="{{ network.url }}">
                        <i class="fa fa-{{ network.title }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
