<section id="training" class="blade blade--get-started">
  <div class="container">

    <div>
      <h1>Get Started with Magento 2 Training</h1>
    </div>

    <div class="tablet-up">
      <div class="card-container">
      {% for member in site.training %}
        <div class="card">
          <div class="card__image">
            <amp-img
                noloading
                height="{{ member.height }}"
                width="{{ member.width }}"
                alt="{{ member.name }}"
                layout="responsive"
                src="img/training/{{ member.pic }}.jpg">
            </amp-img>
          </div>
          <div class="card__content">
            <h3 class="card__title">{{ member.name }}</h3>
            <p>{{ member.description }}</p>
          </div>
          <div class="card__action">
            <a href="{{ member.url }}">Learn More</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <amp-carousel class="tablet-down"
      width="auto"
      height="640"
      type="slides"
      layout="fixed-height">
      {% for member in site.training %}
      <div class="card">
        <div class="card__image">
          <amp-img
              noloading
              height="{{ member.height }}"
              width="{{ member.width }}"
              alt="{{ member.name }}"
              layout="responsive"
              src="img/training/{{ member.pic }}.jpg">
          </amp-img>
        </div>
        <div class="card__content">
          <h3 class="card__title">{{ member.name }}</h3>
          <p>{{ member.description }}</p>
        </div>
        <div class="card__action">
          <a href="{{ member.url }}">Learn More</a>
        </div>
      </div>
      {% endfor %}
    </amp-carousel>

  </div>
</section>
