<!DOCTYPE html>
<html ⚡>
  {% include head.html %}
    <body class="home">
    {% include ga.html %}
    {% include header.html %}
    <div class="wrap">
      <div class="content">
        {% include hero.html %}
        {% include training.html %}
        {% include portfolio_grid.html %}
        {% include about.html %}
        {% include team.html %}
        {% include contact.html %}
        {% include footer.html %}
        {% include sw.html %}
      </div>
    </div>
    </body>
</html>
