<!DOCTYPE html>
<html ⚡>
  {% include head.html %}
    <body id="page-top" class="index">
    <amp-analytics type="googleanalytics" id="analytics-ga"><script type="application/json">{% include analytics.json %}</script></amp-analytics>
    {% include header.html %}
    {% include training.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    </body>
</html>
